<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./plantasIndividual.css" media="screen" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/"><img src="./imagens/home.png" alt="">Página Inicial</a></li>
            <li><a href="/plantas"><img src="./imagens/leaf.png" alt="">Plantas do Campus</a></li>
        </ul>
    </nav>
    <div class="Cabecalho">
        <h1>Grama Comum</h1>
    <img src="./grama.jpeg" alt="imagem de grama">
    </div>

<div class="Informacoes">
    <div>
        <h3>Nome Científico</h3>
        <p>grama comum</p>
    </div>
    <div>
        <h3>Nome Científico</h3>
        <p>grama comum</p>
    </div>
    <div>
        <h3>Nome Científico</h3>
        <p>grama comum</p>
    </div>
    <div>
        <h3>Nome Científico</h3>
        <p>grama comum</p>
    </div>
    <div>
        <h3>Nome Científico</h3>
        <p>grama comum</p>
    </div>
    <div>
        <h3>Nome Científico</h3>
        <p>grama comum</p>
    </div>
                                
</div>
</body>
</html>