<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="principal.css" />
    <title>Campus Verde</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><img src="./imagens/home.png" alt="">Página Inicial</a></li>
            <li><a href="/plantas"><img src="./imagens/leaf.png" alt="">Plantas do Campus</a></li>
        </ul>
    </nav>
    <div class="cabecario">
        <h2 class="projeto">PROJETO</h2>
        <h1>Campus Verde</h1>
        <h2 class="ifrn">IFRN</h2>
        <a href="/plantas"> Conheça nossas plantas</a>
    </div>
    <div class="sobre">
        <h2>Sobre o projeto</h2>
        <div> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Sed adipiscing diam donec adipiscing tristique. Vel pretium lectus quam id leo in vitae turpis massa. Gravida cum sociis natoque penatibus et magnis dis parturient. Semper auctor neque vitae tempus quam pellentesque.</p>
            
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Sed adipiscing diam donec adipiscing tristique. Vel pretium lectus quam id leo in vitae turpis massa. Gravida cum sociis natoque penatibus et magnis dis parturient. Semper auctor neque vitae tempus quam pellentesque.</p>

        </div>


    </div>

    <div class="colaboradores">
        <h2>Colaboradores</h2>
        <div class="Info">
            <div>
                <h3>JURANDY SOARES</h3>
               <div> <img src="imagens/testeimg.jpg"> </img></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div>
                <h3>JOELMA MARQUES</h3>
                <div> <img src="imagens/testeimg.jpg"> </img></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div>
                <h3>MARIANA AMINA</h3>
                <div><img src="imagens/testeimg.jpg"> </img></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div>
                <h3>ALEXIA RAFAELLY</h3>
                <div><img src="imagens/testeimg.jpg"> </img></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

</body>
</html>

